*{ margin:0px; padding:0px;}
body{font-size: 12px;font-family: 宋体, Arial, Helvetica, sans-serif;color: #333;}
img{border-style: none;padding: 0px;margin: 0px;}

/*商城头部样式*/
.web-top{ left:0px;right:0px;margin-left:auto; margin-right:auto; height:55px;width:1366px; overflow:hidden;position:relative;background:rgb(16,22,54); filter:alpha(opacity=20); background:rgba(16,22,54,0.2); z-index:99999; }
.web-top .web-top-left{position:absolute;left:0px;width:160px;height:55px;overflow:hidden;}
.web-top .web-top-left img{ margin-top:10px; margin-left:25px;}
.web-top .web-top-jgx{position:absolute;left:160px;width:3px;overflow:hidden; }
.web-top .web-top-jgx img{margin-top:10px;}
.web-top .web-top-center{position: absolute!important;left:163px!important;width:auto!important;position: relative;left:-163px; width:100%; right:360px; height:55px;overflow: auto;}
.web-top .web-top-center .web-top-center-ul{ list-style:none;}
.web-top .web-top-center .web-top-center-ul li{ float:left;}
.web-top .web-top-center img{ margin-top:18px; margin-left:25px;}
.web-top .web-top-right{position:absolute;right:0;height:55px;width:360px;}
.web-top .web-top-right .web-top-center-ul{ list-style:none;}
.web-top .web-top-right .web-top-center-ul li{ float:left;}
.web-top .web-top-right img{ margin-top:18px; margin-left:25px;}
.web-top .web-top-right .web-top-right-ss{  margin-left:25px; margin-top:10px;width:184px; height:32px ;background-image: url('../Images/web/top_meun_ss.png');background-repeat: no-repeat;}

/*商城尾部样式*/
.web-foot{left:0px;right:0px;margin-left:auto; margin-right:auto; height:206px;width:1366px; overflow:hidden;position:relative;background:#1ea78d; }

.web-page{left:0px;right:0px;margin-left:auto; margin-right:auto; height:auto; width:1366px;position:relative; }
.web-page div{  height:700px;background:#159684;}
