*{ margin:0px; padding:0px;font-family:造字工房雅圆（非商用）常规体;}
a{ color:#FFFFFF;text-decoration:none;}
body{font-size: 12px;font-family: 宋体, Arial, Helvetica, sans-serif;color: #333;}
img{border-style: none;padding: 0px;margin: 0px;}

/*商城头部样式*/
.web-top{ left:0px;right:0px;top:0px;margin-left:auto; margin-right:auto; height:55px;width:1366px; overflow:hidden;position:relative;background:rgb(16,22,54); filter:alpha(opacity=50); background:rgba(16,22,54,0.5); z-index:99999; }
.web-top .web-top-left{position:absolute;left:0px;width:160px;height:55px;overflow:hidden;}
.web-top .web-top-left img{ margin-top:10px; margin-left:25px;}
.web-top .web-top-jgx{position:absolute;left:160px;width:3px;overflow:hidden; }
.web-top .web-top-jgx img{margin-top:10px;}
.web-top .web-top-center{position: absolute!important;left:163px!important;width:auto!important;position: relative;left:-163px; width:100%; right:360px; height:55px;overflow: auto;}
.web-top .web-top-center .web-top-center-ul{ list-style:none;}
.web-top .web-top-center .web-top-center-ul li{ float:left;}
.web-top .web-top-center img{ margin-top:18px; margin-left:25px;}
.web-top .web-top-right{position:absolute;right:0;height:55px;width:360px;}
.web-top .web-top-right .web-top-center-ul{ list-style:none;}
.web-top .web-top-right .web-top-center-ul li{ float:left;}

.web-top .web-top-center .web-top-center-ul img:hover{  padding-top:18px;margin-top:0px; border-top:1px solid #1ea78d;}

.web-top .web-top-right img{ margin-top:18px; margin-left:25px;}
.web-top .web-top-right .web-top-right-ss{ padding-left:25px;   margin-top:10px;width:184px; height:32px ;}
.web-top .web-top-right .web-top-right-ss input{ border:none; padding-left:29px;width:155px; height:32px ; line-height:32px; background: url('../Images/web/top_meun_ss.png') left center no-repeat;}

/*登陆后状态*/
.web-top .web-top-right .span{ margin-top:18px; margin-left:25px; line-height:50px; }
.web-top .web-top-right .web-top-center-ul li a{ text-decoration:none;color:#FFF;}
.web-top .web-top-right .web-top-center-ul li a:hover{ text-decoration:underline;}

/*商城尾部样式*/
.web-foot-top-null{left:0px;right:0px;margin-left:auto; margin-right:auto; height:10px;width:1366px; overflow:hidden;position:relative; }
.web-foot{left:0px;right:0px;margin-left:auto; margin-right:auto; height:206px;width:1366px; overflow:hidden;position:relative;background:#1ea78d; }
.web-foot .web-foot-logo{ padding-top:35px;text-align:center;}
.web-foot .web-foot--{padding:20px; text-align:center;}
.web-foot .web-foot-text{text-align: center;line-height: 20px;font-family:造字工房雅圆（非商用）常规体;font-weight: bold;font-size: 12px;}
.web-foot .web-foot-text .foot-text-1{font-weight:100;}



/*通用样式页面*/
.web-page{left:0px;right:0px;margin-left:auto; margin-right:auto; height:auto; width:1366px;position:relative; background:#f4f7f9;}
.clear{ clear:both;}
.fl{ float:left;}
.fr{ float:right;}


/*首页*/

/* 浮动栏 底部：_top:expression(documentElement.scrollTop + documentElement.clientHeight-(this.offsetHeight+50) + "px"); */
.fd-contact   
{
	position:fixed; _position:absolute; z-index:900000;
	width: 135px;  right:0;top:211px; 
	_right:expression(documentElement.scrollRight + 0 + "px");
	_top:expression( documentElement.scrollTop+ 210 + "px");
	_background-image: url(about:blank);background-attachment:fixed;
}
/*浮动客服*/
.fd-contact .acbtn{ float:left; width:26px; height:95px; overflow:hidden; cursor:pointer; background:url("../Images/fd_bg.gif") no-repeat; background-position: -36px -14px; }
.fd-contact .acbtn.zt{ background-position: 0 -14px;  }
.fd-contact .accon{ float:left; width:105px;  border:solid 1px #49A823; background:#fff;}
.fd-contact .accon .conlist{ padding:5px;}
.fd-contact .accon .conlist .ht{ width:93px; height:23px; line-height:22px; margin-bottom:10px; overflow:hidden; background:url("../Images/fd_bg.gif") no-repeat; background-position: 0 -119px; }
.fd-contact .accon .conlist .ht span{ padding-left:29px; color:#0066CC;}
.fd-contact .accon .conlist .ys{ float:left; margin-bottom:13px;}
.fd-contact .accon .conlist .ys li{ float:left; width:100%; height:25px; line-height:25px; margin-bottom:7px; list-style:none;}
.fd-contact .accon .conlist .ys li a{ float:left; width:100%; height:25px; line-height:25px; color:#666; padding-left:7px; }
.fd-contact .accon .conlist .ys li a:visited{ color:#666;}
.fd-contact .accon .conlist .ys li a:hover{ color:#333; text-decoration:underline}
.fd-contact .accon .conlist .ys li a span{ padding-left:40px;}
.fd-contact .accon .conlist .wx{ text-align:center;}